{% extends "base.html" %}
{% load bootstrap %}

{% block head_title %}ログイン{% endblock %}
{% block body_title %}ログイン{% endblock %}


{% block content %}
<div class="container">

<form action="{% url 'login' %}" method="POST" class="w-75 mx-auto">
    {% csrf_token %}
    {{ form|bootstrap }}
    <br>
    <a href="{% url 'password_reset' %}" class="text-center mx-auto d-block">パスワードをお忘れの場合</a>
    <input type="submit" class="btn btn-primary btn-lg d-block mx-auto m-4" value="ログイン">
</form>

<div class="mx-auto bg-danger w-50" style="--bs-bg-opacity: .5;">
    <h3>テストユーザー</h3>
    <table class="table">
        <tr>
            <th>mail</th>
            <td>superuser01@xxx.xx</td>
        </tr>
        <tr>
            <th>pass</th>
            <td>zaiko#su01</td>
        </tr>
    </table>
</div>

</div>
{% endblock %}