{% extends "base.html" %}
{% load bootstrap %}

{% block head_title %}products - create{% endblock %}
{% block body_title %}products - create{% endblock %}


{% block content %}
<form action="" method="POST" id="productForm" class="form w-50 mx-auto">
    {% csrf_token %}
    <table class="table">
        {# 商品コード #}
        <tr>
            <th>商品コード</th>
            <td><input type="number" name="product_code" class="w-100"></td>
        </tr>

        {# 商品名 #}
        <tr>
            <th>商品名</th>
            <td><input type="text" name="name" class="w-100"></td>
        </tr>

        {# カテゴリー #}
        <tr>
            <th>カテゴリー</th>
            <td>
                <div id="categoryField">
                    {% for category in categories %}
                    <label><input type="checkbox" name="categories" value={{ category.name }}>{{ category.name }}</label><br>
                    {% endfor %}
                    <input type="text" name="categories" class="category w-100 d-block">
                </div>
                <button class="btn btn-light" id="addCategory"><i class="fa-solid fa-plus"></i></button>
            </td>
        </tr>

        {# 商品説明 #}
        <tr>
            <th>商品説明</th>
            <td><textarea name="description" class="w-100"></textarea></td>
        </tr>

        {# 重量 #}
        <tr>
            <th>重量</th>
            <td><input type="text" name="weight" class="w-100"></td>
        </tr>

        {# サイズ #}
        <tr>
            <th>サイズ</th>
            <td><input type="text" name="size" class="w-100"></td>
        </tr>

        {# 税込み価格 #}
        <tr>
            <th>税込み価格</th>
            <td><input type="number" name="price" class="w-100"></td>
        </tr>

    </table>

    {# 送信ボタン #}
    <button type="submit" class="btn btn-danger d-block mx-auto">作成</button>
</form>
{% endblock %}

{% block script %}
{# +ボタン押下でカテゴリ欄を複製する処理 #}
<script>
const addCategoryButton = document.getElementById('addCategory');
const categoryField = document.getElementById('categoryField');
const textField = document.querySelector('#categoryField input[type="text"]');

addCategoryButton.addEventListener('click',  (e) => {

    // デフォルトの送信処理をキャンセル
    e.preventDefault();
    // カテゴリのテキストフィールドを複製して追加
    let clone_category = textField.cloneNode(false);
    // 入力済み文字の削除
    clone_category.value = '';
    // 子要素の最後に追加
    categoryField.appendChild(clone_category);
});
</script>

{% endblock %}